<section class="loginIn">
        <h1 id="mensajeBienvenida">Bienvenido  {{ user }}</h1>
        <a href="/logout">
            <button>Desloguearse</button>
        </a>
    </section>
    <section class="formulario">
        <h1>Formulario Ingreso de productos</h1>
        <form id="userForm">
            <label>Titulo</label>
            <input name="title" type="text">
            <label>Precio</label>
            <input name="price" type="number">
            <label>Thumbnail</label>
            <input name="thumbnail">
            <button id="formBtn">Enviar</button>
            <button id="testBtn">Productos-Test</button>
        </form>
        <div>
            <table id="tablaProductos"></table>
        </div>
    </section>
    <section class="chat">
        <h1>Centro De Mensajes</h1>
        <h1 id=compresionText></h1>
        <div id="inputText">
            <form id="chatForm">
                <label>Mail</label>
                <input name="id" type="text">
                <label>Nombre</label>
                <input name="nombre" type="text">
                <label>Apellido</label>
                <input name="apellido" type="text">
                <label>Edad</label>
                <input name="edad" type="number">
                <label>Alias</label>
                <input name="alias" type="text">
                <label>Avatar</label>
                <input name="avatar">
                <label>Mensaje</label>
                <input name="text" type="text" id="chatBox">
                <button id="chatBtn">Enviar</button>
            </form>
        </div>
        <p id="log"></p>
    </section>   
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
