<section class="loginIn">
        <h1 id="mensajeBienvenida">Login de Usuario</h1>
        <label>Nombre:</label>
        <input id="nombreLogin" name="nombre" type="text">
        <button id="loginBtn">Enviar</button>
</section>   
    <script src="login.js"></script>
