<div class="formIngreso">
    <h1>Ingrese producto</h1>
    <form id="productForm">
        <label class="form-label">Nombre</label>
        <input name="title" class="form-control inputForm" type="text">
        <label class="form-label">Precio</label>
        <input name="price" type="number" class="form-control inputForm">
        <label class="form-label">Foto URL</label>
        <input name="thumbnail" class="form-control inputForm" type="text">
        <input type="submit" value="Enviar" class="btn btn-primary btnEnviar">
    </form>
    <button type="submit" id="btnVistaProductos" class="btn btn-primary btnVistaProductos">Ir a Vista de Productos</button>
</div>
<script src="js/home.js"></script>
